@model TalentConnect.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

@section PageTitle{
    <h2><i class="fa fa-play-circle"></i>&nbsp;Manage Account</h2>
}

<p class="message-success">@ViewBag.StatusMessage</p>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
