@model TalentConnect.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

@section PageTitle{
    <h2><i class="fa fa-plus-circle"></i>&nbsp;Create an Account</h2>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Please correct the errors", new { @class = "notification error" })
    <div class="eight columns form">
        <div class="form-row">
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <div class="form-row">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="form-row">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <div class="form-row">
            <div class="col-md-offset-2 col-md-10">
                <br />
                <input type="submit" value="Register" class="btn btn-default" />
                <br /><br />
            </div>
        </div>
    </div>
}
